<hr />
<h5>On The Interwebs</h5>

<ul class="list-unstyled">
    <li><a href="https://twitter.com/daveaglick"><i class="fab fa-twitter"></i> Twitter <small>(daveaglick)</small></a></li>
    <li><a href="https://github.com/daveaglick"><i class="fab fa-github"></i> GitHub <small>(daveaglick)</small></a></li>
    <li><a href="https://keybase.io/daveaglick"><i class="fab fa-keybase"></i> Keybase <small>(daveaglick)</small></a></li>
    <li><a href="http://stackoverflow.com/users/807064/daveaglick"><i class="fab fa-stack-overflow"></i> Stack Overflow <small>(daveaglick)</small></a></li>
    <li><a href="http://www.linkedin.com/pub/dave-glick/a/871/424/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="http://www.goodreads.com/daveaglick"><i class="fab fa-goodreads"></i> Goodreads <small>(daveaglick)</small></a></li>
</ul>