Title: About
Image: images/water.jpg
---

<p>Hello, my name is Dave Glick.</p>
<p>I am currently the Principal Software Engineer at a small non-profit where I lead the design and development of line-of-business web applications using .NET technologies like ASP.NET MVC, Entity Framework, and client libraries like jQuery, KendoUI, and Bootstrap.</p>
<p>Of course, we're all hopefully much more than where we plant our butt during the week (or stand, if you're one of those standing desk folks). At home I am a husband and father to three very active kids and enjoy every moment. That doesn't leave a lot of left-over time, but when I do get the chance I enjoy <a href="http://flickr.com/photos/somedave/">taking picture</a> and <a href="http://www.goodreads.com/daveaglick">a good book</a>. Somehow, I also occasionally find time to <a href="https://github.com/daveaglick">write code</a>.</p>
<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
