@{
    Title = "My New Blog";
    Published = new DateTime(2014, 9, 5);
    Tags = new[] { "blog", "meta" };
}

<p>It's been a little while coming, but I'm finally launching my new blog. It's built from scratch in ASP.NET MVC. Why go to all the trouble to build a blog engine from scratch when there are a gazillion great engines already out there? That's a very good question, let me break it down for you.</p>
