@{
    Title = "New Blog";
    Lead = "Look, Ma, no database!";
    Published = new DateTime(2014, 9, 2);
    Tags = new[] { "blog", "meta" };
}

<p>It's been a little while coming, but I'm finally launching my new blog. It's built from scratch in ASP.NET MVC. Why go to all the trouble to build a blog engine from scratch when there are a gazillion great engines already out there? That's a very good question, let's break it down.</p>

<h1>Own Your Content</h1>
<p>I'll thank Scott Hanselman for really driving this point home.</p>

<p>So that's <em>why</em> I created this new blog, but what about <em>how</em>? This blog engine uses no database, makes it easy to mix content pages with blog articles, is hosted on GitHub, and uses continuous deployment to automatically publish to an Azure Website.</p>
