*.com
*.class
*.dll
*.exe
!NuGet.exe
*.o
*.so
*.user
Thumbs.db
_ReSharper*
*ReSharper.user
*dotCover
.JustCode
*.suo
bin
.svn
ipch
*.ilk
*.sdf
*.opensdf
*.pdb
/*.~vsd
*UpgradeWizard*
packages*/
!lib/*
*App_Data*
obj
Somedave/website.publishproj
Somedave/App_Data/PublishProfiles/*
Somedave/Properties/PublishProfiles/*
NuGetUpdate/Properties/PublishProfiles/*