@{
    Title = "Likes";
}

@Html.Partial(MVC.Shared.Views.Title, "icon-like-filled")

<blockquote>
    <p>Don't dress things up, or try to explain them; just write them down, in a list, in the plainest language possible.</p>
    <footer>Nick Hornby, <cite title="High Fidelity">High Fidelity</cite></footer>
</blockquote>
<p>If you've read the book @Bs.Link("High Fidelity", "https://www.goodreads.com/book/show/285092.High_Fidelity") then you know that the protagonist, Rob, is obsessed with making lists of things. I can relate. There are a ton of great tools and resources available to software developers and putting stuff in lists helps make sense of it all. To that end, I've curated a few lists of things that I like and will periodically update them as my likes change.</p>
@using (var row = Bs.GridRow().Begin())
{
    using (row.GridColumn().SetSm(6).Begin())
    {
        <h3>Tools</h3>
        <h4>Libraries / NuGet Packages</h4>     
        using (var list = Bs.List(ListType.Unordered).Begin())
        {        
            <li>
                <strong><a href="http://attributerouting.net/">AttributeRouting</a></strong>
                <br/>Define your routes using attributes on action methods in ASP.NET MVC and Web API. Probably less relevant now that MVC 5 includes it's own attribute routing, but still valuable for legacy projects.
            </li>           
            <li>
                <strong><a href="http://automapper.org/">AutoMapper</a></strong>
                <br/>Automatic mapping between objects (I.e., domain models to view models). Also highly configurable to meet many different use cases.
            </li>
            <li>
                <strong><a href="https://github.com/hazzik/DelegateDecompiler">DelegateDecompiler</a></strong>
                <br />Converts computed entity properties for use on the server. @Html.PostLink("See my blog post on the topic", x => x.computed_properties_and_entity_framework).
            </li>
            <li>
                <strong><a href="http://www.dotlesscss.org/">dotless</a></strong>
                <br/>A LESS CSS parser for C#.
            </li>
            <li>
                <strong><a href="http://msdn.microsoft.com/en-us/data/ef.aspx">Entity Framework</a></strong>
                <br/>I've tried a number of ORMs over the years, and my favorite by far has been Entity Framework. The EF team also seems highly committed to delivering regular improvements, which is always a positive.
            </li>
            <li>
                <strong><a href="http://getglimpse.com/">Glimpse</a></strong>
                <br/>Real time diagnostics & insights of web applications. I can't even count the number of debugging hours Glimpse has saved me.
            </li>
            <li>
                <strong><a href="http://htmlagilitypack.codeplex.com/">HtmlAgilityPack</a></strong>
                <br/>This is an oldie but a goodie and hasn't been updated in a number of years, but it still works well and is still the best/only way to work with an HTML DOM tree in code.
            </li>
            <li>
                <strong><a href="http://humanizr.net/">Humanizer</a></strong>
                <br/>Presenting information is one of the most important aspects of most applications, and this library makes it easy to manipulate and display strings, enums, dates, times, timespans, numbers and quantities.
            </li>
            <li>
                <strong><a href="http://james.newtonking.com/json">Json.NET</a></strong>
                <br/>By far the best way of working with JSON in .NET.
            </li>
            <li>
                <strong><a href="http://razorengine.codeplex.com/">RazorEngine</a></strong>
                <br/>I keep finding little use cases for this library that enables using Razor as a templating engine.
            </li>
            <li>
                <strong><a href="http://t4mvc.codeplex.com/">T4MVC</a></strong>
                <br/>I hate magic strings, and T4MVC is so embedded into my process now I literally can't imaging writing a full MVC application without it.
            </li>
            <li>
                <strong><a href="https://unity.codeplex.com/">Unity</a></strong>
                <br/>I don't always use an IoC container, but when I do, it's (usually) Unity.
            </li>    
        }
        <h4>Visual Studio Extensions</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        { 
            <li>
                <strong><a href="http://www.telerik.com/products/justcode.aspx">JustCode</a></strong>
                <br />I've used <a href="http://www.telerik.com/products/justcode.aspx">JustCode</a> and <a href="http://www.jetbrains.com/resharper/">ReSharper</a> and like both. Whichever one you choose, they both save countless hours of development time.
            </li>  
            <li>
                <strong><a href="http://visualstudiogallery.msdn.microsoft.com/dbcb8670-889e-4a54-a226-a48a15e4cace">Productivity Power Tools 2013</a> (or <a href="http://visualstudiogallery.msdn.microsoft.com/3a96a4dc-ba9c-4589-92c5-640e07332afd">2012</a>)</strong>
                <br />All the stuff that didn't quite make it into Visual Studio from the folks who created it.
            </li>  
            <li>
                <strong><a href="http://visualstudiogallery.msdn.microsoft.com/7c8341f1-ebac-40c8-92c2-476db8d523ce">Spell Checker</a></strong>
                <br />Visual Studio should have a built-in spell checker, but since it doesn't this fits the bill nicely.
            </li> 
        }
        <h4>Front End (JavaScript & CSS)</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://getbootstrap.com/">Bootstrap</a></strong>
                <br />I am in love with Bootstrap. I want to marry it and have it's babies.
            </li>   
            <li>
                <strong><a href="http://jquery.com/">jQuery</a></strong>
                <br />The JavaScript library wars are over and jQuery won. While it's certainly possible to build a highly interactive web site or application without it, I certainly wouldn't want to.
            </li>     
            <li>
                <strong><a href="http://www.telerik.com/kendo-ui">Kendo UI</a></strong>
                <br />A very good set of pure JavaScript/HTML5 UI components. Has both a <a href="http://www.telerik.com/download/kendo-ui-core">free version</a> and a more complete commercial one. Combined with the <a href="http://www.telerik.com/aspnet-mvc">ASP.NET MVC</a> server-side wrappers, it makes developing rich HTML5 applications in MVC much, much easier.
            </li>        
            <li>
                <strong><a href="http://modernizr.com/">Modernizr</a></strong>
                <br />Browser feature detection with a large set of supported <a href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills">polyfills</a>.
            </li>
            <li>
                <strong><a href="https://code.google.com/p/google-code-prettify/">Google Prettify</a></strong>
                <br />A lightweight syntax highlighter. I use it on this site.
            </li>
        }
        <h4>Development Tools</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://www.telerik.com/fiddler">Fiddler</a></strong>
                <br />Allows you to see all the little details of what's going on between your browser and the server (including a local development server).
            </li>   
            <li>
                <strong><a href="http://www.telerik.com/products/decompiler.aspx">JustDecompile</a></strong>
                <br />A decompiler is a must for any serious .NET toolbox. I've previously used <a href="http://www.red-gate.com/products/dotnet-development/reflector/">/NET Reflector</a> and really liked it, but JustDecompile is free and it gets the job done just as well.
            </li>  
            <li>
                <strong><a href="http://www.linqpad.net/">LINQPad</a></strong>
                <br />Lets you query databases using LINQ, write little scripts, experiment with code without having to load the whole Visual Studio environment, create a project, etc.
            </li> 
            <li>
                <strong><a href="https://www.atlassian.com/software/jira">JIRA</a>, <a href="https://www.atlassian.com/software/confluence">Confluence</a>, and <a href="https://www.atlassian.com/software/stash">Stash</a></strong>
                <br />This is the trifecta of development project management and source control. 
            </li> 
            <li>
                <strong><a href="http://www.gibraltarsoftware.com/loupe/intro">Loupe</a></strong>
                <br />Real-time centralized log gathering and reporting.
            </li> 
            <li>
                <strong><a href="http://scriptcs.net/">scriptcs</a></strong>
                <br />A very light-weight C# scripting engine. Why use PowerShell when you can use C#?
            </li>              
            <li>
                <strong><a href="http://www.syntevo.com/smartgit/">SmartGit</a></strong>
                <br />I've tried a bunch of Git clients, and this one is the best IMO.
            </li>                   
        }
        <h4>Utilities</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://getgreenshot.org/">Greenshot</a></strong>
                <br/>This little utility sits in your system tray and lets you take screen shots by hitting <kbd>PrtScn</kbd>. Then you can copy the screen shots to the clipboard, open them in an image editor, or do any number of other things to them.
            </li>            
            <li>
                <strong><a href="http://notepad-plus-plus.org/">Notepad++</a></strong>
                <br />When Visual Studio is way too much and Notepad is too little.
            </li>    
            <li>
                <strong><a href="https://www.wireshark.org/">Wireshark</a></strong>
                <br /><em>The</em> free (and open-source) packet sniffer and analyzer.
            </li>    
            <li>
                <strong><a href="http://download.cnet.com/WinSplit-Revolution/3000-2072_4-10971915.html">WinSplit Revolution</a></strong>
                <br />This great free Windows layout manager has been discontinued by the developer, but it can still be downloaded.
            </li>    
        }
    }
    using (row.GridColumn().SetSm(6).Begin())
    {
        <h3>Development Resources</h3>
        <h4>Blogs</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://www.hanselman.com/">Scott Hanselman</a></strong>
            </li>    
            <li>
                <strong><a href="http://haacked.com/">Phil Haack</a></strong>
            </li>   
            <li>
                <strong><a href="http://weblogs.asp.net/scottgu">Scott Guthrie</a></strong>
            </li>  
            <li>
                <strong><a href="http://codeblog.jonskeet.uk/">Jon Skeet</a></strong>
            </li>  
            <li>
                <strong><a href="http://ericlippert.com/">Eric Lippert</a></strong>
            </li>  
            <li>
                <strong><a href="http://blog.codinghorror.com/">Jeff Atwood</a></strong>
            </li>  
            <li>
                <strong><a href="http://www.wekeroad.com/">Rob Conery</a></strong>
            </li>  
            <li>
                <strong><a href="http://martinfowler.com/bliki/">Martin Fowler</a></strong>
            </li>        
            <li>
                <strong><a href="http://thebillwagner.com/blog">Bill Wagner</a></strong>
            </li>  
        }    
        <h4>Websites</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://stackoverflow.com">Stack Overflow</a></strong>
            </li>     
            <li>
                <strong><a href="http://github.com">GitHub</a></strong>
            </li>    
            <li>
                <strong><a href="http://www.nuget.org/">NuGet.org</a></strong>
            </li>     
            <li>
                <strong><a href="http://codeproject.com">CodeProject</a></strong>
            </li>    
            <li>
                <strong><a href="http://channel9.msdn.com/">Channel 9</a></strong>
            </li>      
            <li>
                <strong><a href="http://thedailywtf.com/">The Daily WTF</a></strong>
            </li>              
        }  
        <h3>Design Resources</h3>
        <h4>Blogs</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://bradfrostweb.com/">Brad Frost</a></strong>
            </li> 
            <li>
                <strong><a href="http://www.lukew.com/">Luke Wroblewski</a></strong>
            </li> 
            <li>
                <strong><a href="http://www.danielmall.com/">Dan Mall</a></strong>
            </li> 
            <li>
                <strong><a href="http://www.underconsideration.com/brandnew/">Brand New</a></strong>
            </li>       
        }  
        <h4>Websites</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://alistapart.com/">A List Apart</a></strong>
            </li>       
            <li>
                <strong><a href="http://css-tricks.com/">CSS Tricks</a></strong>
            </li>            
            <li>
                <strong><a href="http://99u.com/">99U</a></strong>
            </li>      
            <li>
                <strong><a href="http://fontastic.me/">Fontastic</a></strong>
            </li>      
        }  
        <h3>Nothing To Do With Software, But Included Because I Am Vain Enough To Think You Care What I Like</h3>
        <h4>Books/Authors</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {      
            <li>
                <strong><a href="https://www.goodreads.com/book/show/6288.The_Road">The Road</a></strong> by <strong>Cormac McCarthy</strong>
            </li>
            <li>
                <strong><a href="https://www.goodreads.com/book/show/6334.Never_Let_Me_Go">Never Let Me Go</a></strong> by <strong>Kazuo Ishiguro</strong>
            </li>       
            <li>
                <strong><a href="https://www.goodreads.com/book/show/11870085-the-fault-in-our-stars">The Fault In Our Stars</a></strong> by <strong><a href="http://johngreenbooks.com/">John Green</a></strong>
            </li>        
            <li>
                <strong><a href="https://www.goodreads.com/book/show/10073.A_Long_Way_Down">A Long Way Down</a></strong> by <strong><a href="http://www.nickhornbyofficial.com/">Nick Hornby</a></strong>
            </li>       
            <li>
                <strong><a href="https://www.goodreads.com/book/show/3153910-the-art-of-racing-in-the-rain">The Art of Racing in the Rain</a></strong> by <strong><a href="http://www.garthstein.com/">Garth Stein</a></strong>
            </li>       
            <li>
                <strong><a href="https://www.goodreads.com/book/show/11333587-ready-player-one">Ready Player One</a></strong> by <strong><a href="http://www.ernestcline.com/">Ernest Cline</a></strong>
            </li>      
            <li>
                <strong><a href="https://www.goodreads.com/book/show/9303985-room">Room</a></strong> by <strong><a href="http://www.emmadonoghue.com/">Emma Donoghue</a></strong>
            </li>    
            <li>
                <strong><a href="https://www.goodreads.com/series/70647-silo">Silo (Series)</a></strong> by <strong><a href="http://www.hughhowey.com/">Hugh Howey</a></strong>
            </li> 
            <li>
                <strong><a href="https://www.goodreads.com/series/56399-expanse">The Expanse (Series)</a></strong> by <strong><a href="http://www.danielabraham.com/books-2/">James S.A. Corey</a></strong>
            </li>   
            <li>
                <strong><a href="https://www.goodreads.com/series/40789-old-man-s-war">Old Man's War (Series)</a></strong> by <strong><a href="http://whatever.scalzi.com/">John Scalzi</a></strong>
            </li>    
        }  
        <h4>Music Groups</h4>
        using (var list = Bs.List(ListType.Unordered).Begin())
        {
            <li>
                <strong><a href="http://www.thealbumleaf.com/">The Album Leaf</a></strong> (Post-Rock)
            </li>      
            <li>
                <strong><a href="http://theamericandollar.info/">The American Dollar</a></strong> (Ambient)
            </li>             
            <li>
                <strong><a href="http://www.audiomachine.com/">Audiomachine</a></strong> (Epic)
            </li>          
            <li>
                <strong><a href="http://www.bastillebastille.com/">Bastille</a></strong> (Alternative)
            </li>         
            <li>
                <strong><a href="http://www.bearmccreary.com/">Bear McCreary</a></strong> (Film Score)
            </li>        
            <li>
                <strong><a href="http://blocparty.com/">Bloc Party</a></strong> (Alternative)
            </li>   
            <li>
                <strong><a href="http://www.btmusic.com/">BT</a></strong> (Electronic)
            </li>   
            <li>
                <strong><a href="http://www.carybrothers.com/">Cary Brothers</a></strong> (Alternative)
            </li>   
            <li>
                <strong><a href="http://www.clintmansell.com/">Clint Mansell</a></strong> (Film Score)
            </li>  
            <li>
                <strong><a href="http://www.coldplay.com/">Coldplay</a></strong> (Alternative)
            </li>  
            <li>
                <strong><a href="http://davematthewsband.com/">Dave Matthews Band</a></strong> (Alternative)
            </li>  
            <li>
                <strong><a href="http://eddiefromohio.com/">Eddie From Ohio</a></strong> (Folk)
            </li>  
            <li>
                <strong><a href="http://www.edwin.com/">Edwin McCain</a></strong> (Alternative)
            </li>  
            <li>
                <strong><a href="http://www.ellispaul.com/">Ellis Paul</a></strong> (Folk)
            </li> 
            <li>
                <strong><a href="http://www.explosionsinthesky.com/">Explosions In The Sky</a></strong> (Post-Rock)
            </li> 
            <li>
                <strong><a href="http://www.frightenedrabbit.com/">Frightened Rabbit</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://home.wearegoradio.com/">Go Radio</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://grahamcoltonmusic.com/">Graham Colton</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://www.greatbigsea.com/">Great Big Sea</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://www.greglaswell.com/">Greg Laswell</a></strong> (Alternative)
            </li> 
            <li>
                <strong>Gustavo Santaolalla</strong> (Film Score)
            </li> 
            <li>
                <strong><a href="http://www.hans-zimmer.com/">Hans Zimmer</a></strong> (Film Score)
            </li> 
            <li>
                <strong><a href="http://www.thehighkings.com/">The High Kings</a></strong> (Celtic)
            </li> 
            <li>
                <strong>John Williams</strong> (Film Score)
            </li> 
            <li>
                <strong><a href="http://www.ludovicoeinaudi.com/">Ludovico Einaudi</a></strong> (Classical)
            </li> 
            <li>
                <strong><a href="http://ilovem83.com/">M83</a></strong> (Electronic)
            </li> 
            <li>
                <strong><a href="http://www.matkearney.com/">Mat Kearney</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://www.mattpondpa.com/">Matt Pond PA</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://www.mumfordandsons.com/">Mumford & Sons</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://passengermusic.com/">Passenger</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://www.peterbradleyadams.com/">Peter Bradley Adams</a></strong> (Folk)
            </li> 
            <li>
                <strong><a href="http://www.sigur-ros.co.uk/">Sigur Ros</a></strong> (and <a href="http://jonsi.com/">Jonsi</a>) (Post-Rock)
            </li> 
            <li>
                <strong><a href="http://www.teamsoundwave.com/sisterhazel/index.html">Sister Hazel</a></strong> (Alternative)
            </li> 
            <li>
                <strong>Thomas Newman</strong> (Film Score)
            </li> 
            <li>
                <strong><a href="http://toadthewetsprocket.com/">Toad The Wet Sprocket</a></strong> (Alternative)
            </li> 
            <li>
                <strong><a href="http://www.twostepsfromhell.com/">Two Steps From Hell</a></strong> (Epic)
            </li> 
        }  
    }
}  