@{
    Title = "Not Found";
}

@Html.Partial(MVC.Shared.Views.Title, string.Empty)

@Bs.Lead("Nothing to see here, move along.")
<p>I'm sure you were trying to find a page with witty, insightful, and important content. Unfortunately, this isn't it.</p>