@model IEnumerable<IGrouping<int, BlogPost>>

@{
    Title = "Archive";
}

@using (var container = Bootstrap.Container().AddCss("banner"))
{
    using (var row = container.GridRow())
    {
        using (row.GridColumn().Sm(12))
        { 
            <div class="title">Post Archive</div>
        }
    }
    <hr />
}

@using (var container = Bootstrap.Container())
{
    foreach (IGrouping<int, BlogPost> year in Model)
    {
        if (year.Key != Int32.MaxValue)
        {
            <h3>@year.Key</h3>
        }
        @Html.Partial(MVC.Shared.Views.PostList, year)
    }
}