@import "bootstrap\\variables.less";
@import "bootstrap\\mixins.less";

body {
	background-color: #fafafa;
    border-top: 12px solid @gray-dark;
}

.logo-col {
    padding-bottom: 6px;
    background-color: @gray-dark;
    font-weight: 900;
    color: @gray-lighter;
    font-size: @font-size-h3;
    .border-bottom-radius(6px);

    & a, & a:hover, & a:focus, & a:active {
        color: @gray-lighter;
    }
}

h1, h2, h3, h4, h5, h6 {
    & a, & a:hover, & a:focus, & a:active {
        color: @headings-color;
    }
}

.btn-default .badge {
    background-color: @gray-lighter;
    color: @gray-light;
}

.nav-col, .proj-col {
    padding-top: 6px;
    display: block;

    & strong {
        font-weight: 900;
    }

    & .navbar-toggle {
        margin-right: 0;
    }
}

.icon-bar {
    background-color: @gray-lighter;
}

.banner {
    margin-top: 12px;

    & .hello {
        font-family: 'Dancing Script', cursive;
        font-weight: 700;
        font-size: floor((@font-size-h1 * 2));
    }

    & .intro {
        font-family: @font-family-serif;
        font-size: @font-size-h1;
    }

    & .title {
        font-weight: 900;
        font-size: floor((@font-size-h1 * 1.2));
    }

    & .lead {
        font-size: @font-size-h1;
        margin-bottom: 0;
    }

    & .stats {
        padding-bottom: 10px;

        & .stat-heading {
            text-align: right;
        }
    }
}

.lead {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

p {
    font-family: @font-family-serif;
    line-height: floor((1.5 * @line-height-base));
}

strong {
    font-weight: 900;
}

.right-border {
    border-right: 1px solid @gray-lighter;
}

.tag-button {
    margin-bottom: 6px;
}

@media (max-width: @screen-xs-max) {
    body {
        border-top: none;
    }
    .nav-row {
        background-color: @gray-dark;
    }

    .logo-col {
        padding-top: 6px;
        padding-bottom: 0;
    .border-bottom-radius(none);
    }

    .nav-col, .proj-col {
        padding-top: 0;
        color: @gray-light;

        & a, & a:hover, & a:focus, & a:active {
            color: @gray-lighter;
        }

        &.collapse {
            display: none;

            &.in {
                display: block;
            }
        }
    }

    .hero-row {
        padding-top: 6px;
        
        & .stats .stat-heading {
            text-align: left;
        }
    }

    .right-border {
        border-right: none;
    }
}

// Prism and code styles
pre {
    padding: 0;
    margin: 0;
    overflow: auto;
    word-wrap: normal;
    word-break: normal;

    & code {
        white-space: pre;
    }
}

code,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: @gray-lighter;
    color: black;
}

code[class*="language-"],
pre[class*="language-"] {
    text-shadow: none;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	background: @gray-lighter;
}

/* Awsome same-height Bootstrap columns from http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height */
/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: @screen-sm-min) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: @screen-md-min) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: @screen-lg-min) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}
