@{
    Title = "How To Value Creative Work In The New Economy?";
    Lead = "What To Do When Supply, Demand, and the Middle-Man Aren't In Sync?";
    Published = new DateTime(2014, 11, 7);
    Tags = new string[] { };
}

<p>This post is going to be a little off-topic for me, but it touches on something that's been bothering me and which recently became a subject of hot(er) debate after <a href="https://music.yahoo.com/news/swift-pulls-music-streaming-spotify-215019114.html">Taylor Swift pulled all her music from Spotify</a> over <a href="https://music.yahoo.com/blogs/music-news/exclusive--taylor-swift-on-being-pop-s-instantly-platinum-wonder----and-why-she-s-paddling-against-the-streams-085041907.html">claims of unfair compensation (among other reasons)</a>. I keep hearing the refrain <em>you should pay artists fairly</em> (<em>you</em> in this case being <em>consumers</em>). And I <strong>get</strong> that. I <em>want</em> to pay artists fairly. I want to know that when I buy a book, the author is getting what they want to get for that book and that it supports them to create more books (have I mentioned I <a href="http://www.goodreads.com/daveaglick">like to read</a>).</p>
   
<p>The reason I'm writing this blog post is because John Scalzi, and author who's work I've enjoyed immensely, posted this on Twitter:</p>

<blockquote class="twitter-tweet" data-partner="tweetdeck"><p>In general: Pay the people who create the things you love. Then they can afford to make more. It&#39;s pretty simple, actually.</p>&mdash; John Scalzi (@@scalzi) <a href="https://twitter.com/scalzi/status/530816806748184576">November 7, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>In trying to respond, I discovered two things:</p>
<ul class="p">
    <li>I have a lot of thoughts on this topic and feel pretty strongly about expressing them.</li>
    <li>I really, really hate Twitter when trying to express a lot of thoughts I feel strongly about.</li>
</ul>
 
<p>Hence, a longer and more detailed format. I see a number of problems with trying to actually follow the seemingly simple and obvious advice about consumers making sure to fairly compensate creators.</p>

<h1>What Is Fair, And Who Decides?</h1>

<p>There is an implicit assertion in these types of statements that artists are not being fairly compensated these days. That very well may be true, but the first question I would have is what constitutes fair compensation? Is it totally up to the author to decide what they think is fair, or is there some obligation to respect the principles of supply and demand? If an author wrote a book that they think is the best book ever written and then decided to charge $100 for it, would that be a fair price? What if they decided they wanted to sell it for $1 - is that a fair price? In both these cases, the author is setting a direct value on their work and we could easily claim that the fair compensation for creative work is whatever the creator thinks it's worth.</p>

<p>But what about an author who signs a contract with a publisher or distributor? Let's assume directly with Amazon to keep things simple, and because I understand how those arrangements work more than those with traditional publishers. If the author set the initial price at $9.99 and Amazon decides to offer that work as their daily discount at $2, is the $2 price fair? The author signed an agreement knowing that pricing strategy was a possibility. They've also presumably received other intangible benefit by signing the contract in the first place - does that impact the fair/unfair judgment for the $2 price point.</p>

<p>What's most difficult about determining a fair price in cases like the Amazon one where middle-men are involved is that we, the consumers, have no way of knowing how that price was derived. Perhaps hidden in that $2 price-per-item is a huge advance paid to the author to make up for it. Or perhaps they received a high value of intangible benefits such as editing and design work. Then again, maybe not. The point is that we have no idea. So again, what is a fair price for a creative work, and how do we know that the price we're paying is fair?</p>

<h1>The Middle-Men Are Evil...Aren't They?</h1>

<p>This idea occasionally surfaces when you hear creators talking about the companies between them and the consumer. It appears to be particularly common when musical artists talk about streaming music services or other novel distribution methods. Aloe Blacc, a song-writer who penned the Avicii hit "Wake Me Up!" among many other hits, <a href="http://www.wired.com/2014/11/aloe-blacc-pay-songwriters/">recently admonished streaming services for not compensating artists (particularly song-writers) fairly</a>. And when you look at the numbers (he states he's earned less than $4,000 for the song from Pandora despite being a huge hit), you can certainly see why.</p>

<p>But back to the original discussion of <em>consumers</em> fairly compensating artists. Are we doing something wrong in this case? Should we as consumers change our behavior because of the information we have about the business practices of the companies from which we obtain our creative material? Is there an obligation on our part to research and understand the supply chains involved so that we can make a judgment as to whether the amount actually making it to the artist is fair? Or is it enough to trust the entity we're directly interacting with to set a fair price?</p>

<p>The challenge in these situations is that we often don't know all the parties involved. For example, in the Aloe Blacc case he's actually getting paid via ASCAP. Which has an agreement with the publishers. Who themselves have agreements with the distributors (streaming services, etc.). Obviously there is a disconnect between the value Aloe Blacc places on the work he did and the compensation he's receiving for it. But where is that disconnect? Is it with us the consumers or is it somewhere else? And back to an earlier question - who decides that value in the first place? These same questions hold true for authors, screen-writers, etc. when considering the middle-men involved in their respective industries.</p>

<h1>So Is There Actually A Problem?</h1>

<p>This is a tough question. Right up front I'll say I'm not going to address piracy and theft - it's wrong, don't do it. Instead I want to focus on the actual market forces at play. So far I've explored the side of this debate that says creators aren't getting as much as they should in today's emerging distribution schemes. But there is another side to this. There are companies that are charging what the market will bear for certain goods. And they don't get to just grab this stuff out of thin air - it's not like it's in the public domain. One way or another, the creator has agreed to allow this to happen. Even with legally-mandated compensation schemes like the ones that form the basis for Pandora and other streaming radio services, those rates were (kind of) negotiated.</p>

<p>You could certainly argue that an unknown creator like an indie musical artist or author doesn't have another hand to play and therefore <em>has</em> to participate in the market at whatever terms they're given. However, if I play devil's advocate I'm not sure that's actually true. If a piece of creative work is valued appropriately by it's creator, then wouldn't the free market be willing to compensate at that value? Why are creators routinely accepting arrangements that they feel undervalue their work, especially now that direct-to-consumer channels exist for all major creative industries? Is it because there actually is some value built in to the broad reach and distribution logistics that gets accounted for in what they eventually receive? Perhaps that aspect is being undervalued by creators?</p>

<p>This is all also assuming a free-market perspective. Perhaps we shouldn't be looking at this issue that way at all. Maybe there is an intrinsic value placed on creative work and we as a society should be prepared to accept that as the cost of having creative people. In this case, the problem is that we're currently framing the problem in the wrong light.</p>

<h1>Where Does That Leave Consumers</h1>

<p>This was a very rambling post, and it was mostly for me, so if you followed me all the way to the bottom I appreciate it. I think most consumers, myself included, want to see creators fairly compensated. That's also a little bit like saying we want to feed the hungry. Of course we do! Right now I make sure to buy all of my creative work (music, books, etc.) from reputable companies. Beyond that, I currently don't make much of an effort to think about what the artist receives (though I probably should). I buy books when they're on sale. I listen to music through Google Play All Access and often listen to albums a number of times. I trust in the "system" and the free market economy to figure it out. Is that helping or hurting? Am I stiffing the people who's work I value so highly? I honestly have no idea...</p>

<p>I think what I'm getting at with this whole post is that this is a complex issue. Admonishing consumers for not paying enough, or not paying a "fair" price puts the burden on the consumer to figure out what that fair price is, and we're not equipped to make those judgments right now. How can this be improved? I think transparency would help - how much does each artist actually want for their work vs. what are they getting. Also, I would love to see direct-to-consumer distribution channels gain more traction. That way we know more about who's involved and can be assured that the creator has been involved in setting the value. Beyond that, I really don't know. I do hope that as we continue to move forward with new technology and new business models that the bulk of what we're paying doesn't end up in entities that add little or no value to the work and process.</p>