@using HtmlAgilityPack;

@model IEnumerable<BlogPost>

@using (var list = Bootstrap.List(FluentBootstrap.Typography.ListType.Unordered))
{          
    foreach (BlogPost post in Model)
    {
        using (list.ListItem())
        {
            <strong>@Bootstrap.Link(post.Title, Url.Action(post.GetAction()))</strong>
            if (post.Published != default(DateTime))
            {
                <span class="label label-default">@post.Published.ToShortDateString()</span>
            }
            if (!string.IsNullOrWhiteSpace(post.Lead))
            {
                <br />@post.Lead
            }
        }
    }
}