@using (var row = Bootstrap.GridRow().AddCssClass("hero-row"))
{
    using (row.GridColumn().Xs(12))
    {
        <div class="hello">Hello.</div>
        <div class="intro">My name is Dave Glick. I make software and sometimes I write about it.</div>
    }                
}